html {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: white;
}

body {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  gap: 32px;
  padding: 32px;
  padding-top: 0;
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {
  width: 100%;
  text-align: center;
}

section {
  width: 100%;
}

button {
  height: 30px;
  width: 100px;
  background-color: tomato;
  color: white;
  border: 2px solid red;
  cursor: pointer;
}

button:hover {
  filter: invert(1);
}

input {
  height: 30px;
  border-radius: 8px;
  border: 1px solid gray;
}

.completed-items li {
  text-decoration: line-through;
  color: gray;
}

.todo-items li:hover {
  color: tomato;
  cursor: pointer;
}

.todo-items li:hover::after {
  content: '✖';
  cursor: pointer;
  height: 32px;
  width: 32px;
  color: red;
  margin-left: 32px;
}

.add-new-todo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}


.add-new-todo > input {
  width: 50%;
}

.timer-area {
  /* margin-bottom: 48px; */
  width: 100%;
  display: flex;
  gap: 32px;
}

.timer-area > input {
  width: 30%;
}

.strike-through {
  text-decoration: line-through;
  color: tomato;
}
